<a href="https://colab.research.google.com/github/nyamin9/RDR_Project/blob/main/%EC%B2%98%EB%B0%A9%EA%B8%B0%EB%A1%9D%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
drug_max = {"ketamine":4, "diprivan_01" :3, "diprivan_02" :2, "Amphetamine" :40, "phentermine" :38, "GHB":2500, "Merthylphenidate":54, "zopiclone":8, "zolpidem_01":4, "zolpidem_02":10, "benzodiazepine":40}
drug_ID = {"ketamine":1, "diprivan_01" :2, "diprivan_02" :3, "Amphetamine" :4, "phentermine" :5, "GHB":6, "Merthylphenidate":7, "zopiclone":8, "zolpidem_01":9, "zolpidem_02":10, "benzodiazepine":11}

In [ ]:
import pandas as pd
import numpy as np
prescription_record = pd.DataFrame({"patientID":[],"hosID":[],"drugID":[],"doctorID":[],"prescription_amount":[],"day":[],"state":[]})
prescription_record

Empty DataFrame
Columns: [patientID, hosID, drugID, doctorID, prescription_amount, day, state]
Index: []

In [ ]:
append = pd.read_csv("/content/sample_data/append.csv")
real = append.iloc[0:len(append)+1,1:3]

In [ ]:
num = 0
for i in drug_max.keys():
  for j in range(1,101):
    doctorID = np.random.randint(2,33)
    prescription_amount = np.random.randint(1,drug_max[i])
    prescription_record.loc[num] = [j,real.iloc[doctorID-2,1],drug_ID[i],doctorID,prescription_amount,1,1]
    num += 1
prescription_record

      patientID  hosID  drugID  doctorID  prescription_amount  day  state
0             1      9       1        19                    3    1      1
1             2      8       1         5                    2    1      1
2             3      1       1        26                    1    1      1
3             4      3       1         6                    3    1      1
4             5      1       1        24                    3    1      1
...         ...    ...     ...       ...                  ...  ...    ...
1095         96      9      11         7                    3    1      1
1096         97      5      11        22                   33    1      1
1097         98      4      11         9                   11    1      1
1098         99      7      11        13                   13    1      1
1099        100      9      11         7                   27    1      1

[1100 rows x 7 columns]

In [ ]:
prescription_record.to_csv("/content/sample_data/prescription_record.csv")

In [ ]:
num = 0
for i in range(1,21):
  for j in range(1,101):
    doctorID = np.random.randint(2,33)
    prescription_amount = np.random.randint(1,drug_max["zolpidem_02"]+1)
    prescription_record.loc[num] = [j,real.iloc[doctorID-2,1],10,doctorID,prescription_amount,1,1]
    num += 1
prescription_record

      patientID  hosID  drugID  doctorID  prescription_amount  day  state
0             1      9      10        19                    4    1      1
1             2      3      10        11                    4    1      1
2             3      5      10        22                    7    1      1
3             4      4      10        10                    1    1      1
4             5      4      10        14                    6    1      1
...         ...    ...     ...       ...                  ...  ...    ...
1995         96      4      10        14                    4    1      1
1996         97      4      10        14                    2    1      1
1997         98      6      10        12                    5    1      1
1998         99      9      10        20                    3    1      1
1999        100      9      10        19                    7    1      1

[2000 rows x 7 columns]

In [ ]:
prescription_record.to_csv("/content/sample_data/real_prescription.csv")